__pycache__

# Should ignore executables and object files, since will be system specific
*.o
*.mod
*.exe
*cppdefs
obj/

# Ignore output
*.nc
*.out
/python/data/
/fortran/output
/fortran/data
/fortran/test_dir
*.pdf
*.dat
*.log
*.readme
*current*
*profile*
/fortran/*output*

# Ignore ipython notebooks
*.ipynb

#Ignore spectral files
spectral_files

# Ignore socrates source code
src/socrates/src/

# Ignore slurm error output
*.err

# Makefile
Makefile
