__pycache__

# Should ignore executables and object files, since will be system specific
*.o
*.mod
*.exe
*cppdefs

# Ignore output
*.nc
*.out
/python/data/
/fortran/output
/fortran/data
*.pdf
*.dat

# Ignore ipython notebooks
*.ipynb

